<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <p class="mb-4">¿Estás seguro de que deseas realizar esta acción?</p>
    <div class="flex justify-end">
      <button class="px-4 py-2 mr-2 bg-red-500 rounded-lg focus:outline-none text-black" (click)="onConfirm()">Muy seguro</button>
      <button class="px-4 py-2 bg-gray-300 rounded-lg focus:outline-none" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
