<!--INTERFAZ PRINCIPAL  -->
<!-- 3 input texto y un input calendario -->
<!-- 1 boton crear -->
<!-- una tabla con capacidad para 5 registros  -->
<!-- cada fila de la tabla con un boton o icono eliminar -->
<!-- paginación -->
<!--Puedes pedirle que te genere dentro de un div con display flex para que esten en horizontal  -->
<!--ahora si ya lo genero-->
<section class="flex flex-col min-h-screen">
  <header class="bg-gray-800 text-white py-4 px-4">
    <h1 class="text-3xl font-bold">Registro de Usuarios</h1>
  </header>
  <app-notifier></app-notifier>
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user" class="grid grid-cols-5 gap-4 m-2">
    <div>
      <label for="nombre" class="text-sm font-medium text-gray-700">Nombre</label>
      <input id="nombre" type="text"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
        formControlName="firstName" required id="nombre" name="nombre" placeholder="Ingrese el nombre">
      <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="text-red-500">*Campo
        Obligatorio</div>
    </div>
    <div>
      <label for="apellido" class="text-sm font-medium text-gray-700">Apellidos</label>
      <input id="apellido" type="text"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
        formControlName="lastName" required id="apellidos" name="apellidos" placeholder="Ingrese los apellidos">
      <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="text-red-500">*Campo Obligatorio
      </div>
    </div>
    <div>
      <label for="fecha-nacimiento" class="text-sm font-medium text-gray-700">Fecha de nacimiento</label>
      <input id="fecha-nacimiento" type="date"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
        formControlName="birthDate" required id="fecha" name="fecha">
      <div *ngIf="birthDate?.invalid && (birthDate?.touched || birthDate?.dirty)" class="text-red-500">
        *Campo Obligatorio
      </div>
    </div>
    <div>
      <label for="dni" class="text-sm font-medium text-gray-700">DNI</label>
      <input id="dni" type="text"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
        formControlName="dni" required id="dni" name="dni" placeholder="Ingrese el DNI">
      <div *ngIf="dni?.invalid && (dni?.touched || dni?.dirty) " class="text-red-500">
        *Campo Obligatorio </div>
    </div>
    <div class="flex justify-center items-center">
      <button type="submit"
        class="w-full inline-flex items-center justify-center px-4 py-2 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Crear
      </button>
    </div>
  </form>
  <app-alert *ngIf="showAlert" (confirm)="onDeleteConfirmed()" (cancel)="onCancelDelete()"></app-alert>
  <div class="m-2 h-64 border-gray-900 shadow-2xl">
    <table class="min-w-full divide-y divide-gray-200  ">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="py-2 px-4">Nombre</th>
          <th class="py-2 px-4">Apellido</th>
          <th class="py-2 px-4">Fecha de Nacimiento</th>
          <th class="py-2 px-4">DNI</th>
          <th class="py-2 px-4">Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="this.users" class="bg-white divide-y divide-gray-200 ">
        <tr *ngFor="let user of users" class="bg-white hover:bg-gray-300 duration-700 transition-colors">
          <td class="py-2 px-4">{{user.firstName}}</td>
          <td class="py-2 px-4">{{user.lastName}}</td>
          <td class="py-2 px-4">{{user.birthDate | date:'mediumDate':'GMT'}}</td>
          <td class="py-2 px-4">{{user.dni}}</td>
          <td>
            <button type="button" (click)="confirmDelete(user)"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex justify-center items-end gap-2 mt-4">
    <ng-container *ngIf="this._pageNumbers > 0">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
        [class.bg-gray-700]="1 === currentPage" (click)="setPage(1)">{{1}}
      </button>
      <span *ngIf="centralPages[0] - 1 > 1">...</span>
      <button *ngFor="let page of centralPages"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
        [class.bg-gray-700]="page === currentPage" (click)="setPage(page)">{{page}}
      </button>
      <span *ngIf="_pageNumbers - centralPages[centralPages.length - 1] > 1">...</span>
      <button *ngIf="1 != _pageNumbers" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
        [class.bg-gray-700]="_pageNumbers === currentPage" (click)="setPage(_pageNumbers)">{{_pageNumbers}}
      </button>
    </ng-container>

  </div>
  <footer class="bg-gray-800 text-white mt-auto">
    <div class="container mx-auto px-4">
      <h2 class="text-xl font-bold">Programación Paralela - 2 trabajo primera unidad</h2>
      <p class="text-gray-400">Año 2023</p>
      <ul class="mt-2 flex gap-3">
        <li class="mb-1">Castañeda Pari karen Sheila</li>
        <li class="mb-1">Choquehuallpa Hurtado Oscar Alcides</li>
        <li class="mb-1">Molina Portilla Oscar Lorenzo</li>
      </ul>
    </div>
  </footer>

</section>